.game-message {
    align-items: center;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: grey 5px 5px 10px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    left: 50%;
    opacity: 1;
    padding: 10%;
    top: 50px;
    transform: translate(-50%);
    width: 50%;
    z-index: -1;

    &.show {
        z-index: 2;
    }
}