.settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: opacity 700ms;
    z-index: 1;
    background-color: #fff;
}
  
.setting {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    transition: opacity 500ms;

    &.gone-back {
        opacity: 0;
    }

    &.muted {
        opacity: 0.2;
    }

    h3,
    .button {
        position: relative;
        top: 75px;
        opacity: 0;
        transition: top 500ms, opacity 500ms;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &.show {
            top: 0px;
            opacity: 1;
            transition-duration: 1250ms;
        }
    }

    h3 {
        font-family: Montserrat;
        text-align: center;
        
        &.show {
            transition-delay: 700ms;
        }
    }

    .buttons-wrap {
        display: flex;
        justify-content: space-evenly;
        min-width: 300px;
    }

    .button.show {

        &:nth-child(1) {
            transition-delay: 1500ms;
        }

        &:nth-child(2) {
            transition-delay: 1700ms;
        }

        &:nth-child(3) {
            transition-delay: 1900ms;
        }
    }
}

.go-back {
margin-top: 20px;
}