.settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: opacity 700ms, z-index 0ms 800ms;
    z-index: 1;
    background-color: #fff;

    &.hide {
        z-index: 0;
        opacity: 0;
    }
}
  
.setting {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    transition: opacity 0ms 800ms;

    &.gone-back {
        opacity: 0;
    }

    &.muted {
        transition-duration: 500ms;
        transition-delay: 0ms;
        opacity: 0.2;
    }

    h3,
    .button {
        position: relative;
        top: 75px;
        opacity: 0;
        transition-property: top, opacity;
        //transition-duration: 0ms, 0ms; 
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275), cubic-bezier(0.175, 0.885, 0.32, 1.275);
        
        &.show {
            //transition-delay: 800ms, 800ms;
            transition-duration: 1000ms, 1000ms;
            top: 0px;
            opacity: 1;
        }
    }

    h3 {
        font-family: Montserrat;
        text-align: center;
        
        &.show {
            transition-delay: 700ms, 700ms;
        }
    }

    .buttons-wrap {
        display: flex;
        justify-content: space-evenly;
        min-width: 300px;
    }

    .button.show {

        &:nth-child(1) {
            transition-delay: 1500ms, 1500ms;
        }

        &:nth-child(2) {
            transition-delay: 1700ms, 1700ms;
        }

        &:nth-child(3) {
            transition-delay: 1900ms, 1900ms;
        }
    }
}

.go-back {
margin-top: 20px;
}